/* Global styles */
:root {
   --border-radius: 5px;
}

* {
   box-sizing: border-box;
}

/* Header styles */
header {
   background: linear-gradient(to left, purple, blue);
   justify-content: center;
   align-items: center;
   padding: 5px;
   margin: 20px;
}

header h1 {
   text-align: center;
   color: white;
}

main {
   margin-top: 10px;
}

/* All buttons */
button {
   border-radius: var(--border-radius);
   width: 100%;
   margin-bottom: 10px;
   padding: 5px;
}

/* Input boxes */
.city-input, .state-input, .country-input {
   width: 100%;
   margin-bottom: 10px;
   padding: 5px;
   border-radius: var(--border-radius);
}

/* Search box styles */
.search-btn {
   background: linear-gradient(to left, purple, blue);
   color: white;
   margin-bottom: 5px;
}

.breaker-line {
   border-bottom: 2px solid black;
   margin-bottom: 20px;
   padding-bottom: 20px;
}

.city-btn {
   background-color: lightgray;
}

/* Weather display box styles */
.weather-display {
   border: 1px solid lightgray;
   margin: 10px 0px;
   padding-left: 10px;
   padding-bottom: 10px;
   border-radius: var(--border-radius);
}

.city {
   font-size: 2rem;
   font-weight: bolder;
}
.uv-index {
   display: flex;
}

.uv-number {
   width: 50px;
   text-align: center;
   border-radius: var(--border-radius);
}

.uv-green {
   background: greenyellow;
}

.uv-yellow {
   background-color: yellow;
}

.uv-orange {
   background-color: orange;
}

.uv-red {
   background-color: red;
}

.uv-purple {
   background-color: purple;
}

/* Card styles */
.card {
   align-content: center;
   align-items: center;
}

.five-day {
   width: 13rem;
   margin-bottom: 5px;
   padding-bottom: 5px;
   background-color: purple;
   color: white;
}

.card-date {
   text-align: center;
}

.card-img {
   height: 50%;
   width: 50%;
}

/* Adjusting bootstrap */
.flex-row {
   display: flex;
   flex-wrap: wrap;
}

.flex-column {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}




