:root {
   --border-radius: 5px;
}

* {
   box-sizing: border-box;
}

header {
   background: linear-gradient(to left, purple, blue);
   justify-content: center;
   align-items: center;
   padding: 5px;
   margin: 20px;
}

header h1 {
   text-align: center;
   color: white;
}

main {
   margin-top: 10px;
}

button {
   border-radius: var(--border-radius);
   width: 100%;
   margin-bottom: 10px;
   padding: 5px;
}

.container {
}

.city-search {
}

.city-input {
   width: 100%;
   margin-bottom: 10px;
   border-radius: var(--border-radius);
}

.search-btn {
   background: linear-gradient(to left, purple, blue);
   color: white;
   margin-bottom: 5px;
}

.breaker-line {
   border-bottom: 2px solid black;
   margin-bottom: 20px;
   padding-bottom: 20px;
}

.city-btn {
   background-color: lightgray;
}

.weather-display {
   border: 1px solid lightgray;
   margin: 10px 0px;
   padding-left: 10px;
   border-radius: var(--border-radius);
}

.five-day {
   width: 14rem;
   background-color: blue;
   color: white;
}

.flex-row {
   display: flex;
   flex-wrap: wrap;
}

.flex-column {
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
}




